body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 20px;
    border: 0;
    border-radius: 8px;
}

.section-header {
    background: #198CFF;
    color: white;
    padding: 2px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.section-content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 8px;
    background: #eee;
}

.container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
}

.container-item:hover {
    background: #ddd;
}

.container-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.container-name {
    font-weight: bold;
}

.container-state {
    font-size: 0.9em;
    color: #555;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #b52b37;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#containerList {
    list-style: none;
    padding: 0;
}

.container-id {
    flex: 1;
    word-break: break-all;
}



/*stats*/

.stats-container {
    display: flex;
    max-width: 800px;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    gap: 20px;
}

.stat-box {
    text-align: center;
    min-height: 200px;
    position: relative;
}

.memory-container {
    position: relative;
    display: inline-block;
}

.statTitle {
    margin-bottom: 5px
}

.memory-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    z-index: 10;
    pointer-events: none;
}

.memory-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 8px;
}

.label-left, .label-right {
    width: 45%;
}

.network-container {
    width: 200px;
    height: 150px;
    margin: 0 auto;
}